{{ script(['links/user/js/change-role.js']) }}
<tr id="js-status-{{ user.id }}">
  <td>{{ user.number }}</td>
  <td>{{ user.name }}</td>
  <td>{{ user.trueName }}</td>
  <td>{{ user.bornTime|date('n-d') }}</td>
  <td>{{ user.joinTime|date('Y-n-d') }}</td>
  <td>
    {% if user.gender == 'male' %}男{% else %}女{% endif %}
  </td>
  <td>{{ user.professionTitle }}</td>
  <td>{{ user.rank }}</td>
  <td>{{ user.education }}</td>
  <td>{{ user.phone }}</td>
  {% if user.status == 'off' %}
    <td>{{ user.quitTime|date('Y-m-d') }}</td>
  {% endif %}
  <td style="min-width:100px;">
    <div class="btn-group">
      <a class="btn btn-default btn-sm show-inuser" data-url="{{ path('admin_user_basic_show',{id:user.id}) }}">查看</a>
      <a href="#" type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="button">
        {% if user.status == 'on' %}
        <li><a id="js-edit-btn" href="{{ path('admin_user_edit', {id:user.id}) }}">编辑</a></li>
        <li><a>修改密码</a></li>
        <li><a class="change-status-show" data-url="{{ path('admin_user_status_change', {id:user.userId, status:user.status}) }}">离职</a></li>
        <li><a class="change-role" data-url="{{path('admin_user_role_change',{id:user.userId})}}">设为管理员</a></li>
        {% else %}
        <li><a class="change-status-show" data-url="{{ path('admin_user_status_change', {id:user.userId, status:user.status}) }}">入职</a></li>
        {% endif %}
      </ul>
    </div>
  </td>
</tr>
