{% extends 'AppBundle:User:show-user/show-user-modal.html.twig' %}

{% block title %}
{{ script(['links/user/js/add-user.js']) }}
<div class="page-header">
  <h4>员工详情</h4>
</div>
<ul class="nav nav-tabs">
  <li role="button"><a class="show-basic-info" data-url="{{path('admin_user_basic_show',{id:userId})}}">基础信息</a></li>
  <li role="button"><a class="show-family-info"  data-url="{{path('admin_user_family_show',{id:userId})}}">家庭信息</a></li>
  <li role="button"><a class="show-learn-info"  data-url="{{path('admin_user_learn_show',{id:userId})}}">学历信息</a></li>
  <li role="button" class="active"><a class="show-work-info"  data-url="{{path('admin_user_work_show',{id:userId})}}" >工作信息</a></li>
  <li role="button"><a class="show-other-info"  data-url="{{path('admin_user_other_show',{id:userId})}}">其他信息</a></li>
{% endblock %}

{% block body %}
{% for workInfo in workInfos%}
  <form class="form-horizontal">
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label time">开始时间：</label>
        <div class="col-sm-3" align="center">
          {{workInfo.startTime|date('Y-m-d')}}
        </div>
      <label for="inputEmail3" class="col-sm-3 control-label time">结束时间：</label>
        <div class="col-sm-3" align="center">
          {{workInfo.endTime|date('Y-m-d')}}
        </div>
    </div>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">工作单位：</label>
        <div class="col-sm-3" align="center">
          {{workInfo.company}}
        </div>

      <label for="inputEmail3" class="col-sm-3 control-label">岗位职务：</label>
        <div class="col-sm-3" align="center">
          {{workInfo.position}}
        </div>
    </div>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">离职原因：</label>
        <div class="col-sm-3" align="center">
          {{workInfo.leaveReason}}
        </div>
    </div>
  </form>
  <hr>
{% endfor %}
{% endblock %}

{% block footer %}{% endblock %}